[Unit]
Description=Update File Upload DuckDNS address
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/file-upload-duckdns-update
