[Unit]
Description=Update Fire Upload DuckDNS address
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/fire-upload-duckdns-update
