[Unit]
Description=Update Fire Upload
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/fire-upload-update

